.publicationsList
    article
        +image('img1.jpg')
        .description             
            p.date 27.11.2017        
            p.content Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️
    article
        +image('img2.jpg')
        .description             
            p.date 27.11.2017        
            p.content Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️
    article
        +image('img1.jpg')
        .description             
            p.date 27.11.2017        
            p.content Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️
    article
        +image('img2.jpg')
        .description             
            p.date 27.11.2017        
            p.content Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️        

        
