//- var
- 
    var postsList = [
    {
      date: '28.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '1.jpg'
    },
    {
      date: '29.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '2.jpg'
    },
    {
      date: '30.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '3.jpg'
    },
    {
      date: '1.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '4.jpg'
    },
    {
      date: '2.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '5.jpg'
    },
    {
      date: '3.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '6.jpg'
    },
    {
      date: '4.11.2017',
      content:'Твой красивый макияж сам себя не сделает, а вот мы очень даже да! И лучше даже если без повода, но обязательно с улыбкой ☝🏼И не забудь, что в чёрную пятницу с 16:00 до 20:00 у тебя есть возможность выиграть скидку до 50% на твои процедуры ❤️',
      images: '7.jpg'
    }    
];

//- mixins
mixin postItem(post)
    img(src= path.src.img + post.image)
    .description             
        p.date= post.date        
        p.content= post.content

//- template
.publicationsList
for post in postsList
    +postItem(post)
     

        
