@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
